In [2]:
import pandas as pd
import numpy as np
Indexes = [5,6,7,8,1,2,3,4]
Columns = ['C2','C1','C0']
DF = pd.DataFrame(np.random.randn(8,3),index=Indexes,columns=Columns)

In [3]:
DF

         C2        C1        C0
5 -0.269888  1.255991 -0.141772
6  1.377973  0.631961  0.831039
7  0.781886 -1.548318 -0.378355
8 -0.077085 -0.480630  0.885148
1  0.306262 -1.617841 -0.787530
2  0.124716  0.240330  1.607455
3  1.209505 -1.523444  0.018881
4 -0.938546  0.708741  0.677232

In [4]:
R = DF.rolling(window=3,min_periods=1)

In [5]:
R

Rolling [window=3,min_periods=1,center=False,axis=0]

In [9]:
AggSum =R.aggregate(np.sum)
# np.sum

In [10]:
AggSum

         C2        C1        C0
5 -0.269888  1.255991 -0.141772
6  1.108085  1.887952  0.689267
7  1.889971  0.339634  0.310912
8  2.082775 -1.396987  1.337832
1  1.011064 -3.646789 -0.280737
2  0.353893 -1.858141  1.705073
3  1.640483 -2.900955  0.838806
4  0.395675 -0.574373  2.303568

In [11]:
ColumnsAggregate = R['C1'].aggregate(np.sum)

In [12]:
ColumnsAggregate

5    1.255991
6    1.887952
7    0.339634
8   -1.396987
1   -3.646789
2   -1.858141
3   -2.900955
4   -0.574373
Name: C1, dtype: float64

In [14]:
MultipleColumns = R[['C1','C2']].aggregate(np.sum)

In [15]:
MultipleColumns

         C1        C2
5  1.255991 -0.269888
6  1.887952  1.108085
7  0.339634  1.889971
8 -1.396987  2.082775
1 -3.646789  1.011064
2 -1.858141  0.353893
3 -2.900955  1.640483
4 -0.574373  0.395675

In [17]:
MultiFunctiononOneColumns = R['C1'].aggregate([np.sum,np.mean])

In [18]:
MultiFunctiononOneColumns

        sum      mean
5  1.255991  1.255991
6  1.887952  0.943976
7  0.339634  0.113211
8 -1.396987 -0.465662
1 -3.646789 -1.215596
2 -1.858141 -0.619380
3 -2.900955 -0.966985
4 -0.574373 -0.191458

In [19]:
MultiFunctiononOneColumns = R['C1','C2'].aggregate([np.sum,np.mean])

In [20]:
MultiFunctiononOneColumns

         C1                  C2
        sum      mean       sum      mean
5  1.255991  1.255991 -0.269888 -0.269888
6  1.887952  0.943976  1.108085  0.554043
7  0.339634  0.113211  1.889971  0.629990
8 -1.396987 -0.465662  2.082775  0.694258
1 -3.646789 -1.215596  1.011064  0.337021
2 -1.858141 -0.619380  0.353893  0.117964
3 -2.900955 -0.966985  1.640483  0.546828
4 -0.574373 -0.191458  0.395675  0.131892

In [21]:
MultiFunctiononOneColumns = R.aggregate({'C1':np.sum,'C2':np.mean})

In [22]:
MultiFunctiononOneColumns

         C1        C2
5  1.255991 -0.269888
6  1.887952  0.554043
7  0.339634  0.629990
8 -1.396987  0.694258
1 -3.646789  0.337021
2 -1.858141  0.117964
3 -2.900955  0.546828
4 -0.574373  0.131892