In [1]:
import pandas as pd
import numpy as np
N=20
DF = pd.DataFrame({
    'A':pd.date_range(start='2019-06-01',periods=N,freq='D'),
    'x':np.linspace(0,stop=N-1,num=N),
    'y':np.random.rand(N),
    'C':np.random.choice(['Low','Medium','High'],N).tolist(),
    'D':np.random.normal(100,10,size=(N)).tolist()
})

In [2]:
DF

            A     x         y       C           D
0  2019-06-01   0.0  0.871896    High  114.489385
1  2019-06-02   1.0  0.340641     Low   89.997491
2  2019-06-03   2.0  0.522109     Low  100.923261
3  2019-06-04   3.0  0.797103    High  113.041329
4  2019-06-05   4.0  0.437933     Low   98.724221
5  2019-06-06   5.0  0.835008  Medium  116.324653
6  2019-06-07   6.0  0.414260  Medium  113.475146
7  2019-06-08   7.0  0.331093    High  108.118389
8  2019-06-09   8.0  0.585630     Low  105.586755
9  2019-06-10   9.0  0.085229     Low  104.614612
10 2019-06-11  10.0  0.912040     Low  113.084619
11 2019-06-12  11.0  0.559345  Medium  116.588268
12 2019-06-13  12.0  0.716879  Medium   95.922079
13 2019-06-14  13.0  0.483481    High  101.785089
14 2019-06-15  14.0  0.426419    High  108.933869
15 2019-06-16  15.0  0.175810     Low  101.301393
16 2019-06-17  16.0  0.122557     Low  100.370226
17 2019-06-18  17.0  0.857182    High   96.691476
18 2019-06-19  18.0  0.321194  Medium  118.983930
19 2019-06-20  19.0  0.682460     Low  107.882400

In [4]:
for col in DF:
    print(col)

A
x
y
C
D

In [5]:
# iteritems()
for key,val in DF.iteritems():
    print(key,val)

A 0    2019-06-01
1    2019-06-02
2    2019-06-03
3    2019-06-04
4    2019-06-05
5    2019-06-06
6    2019-06-07
7    2019-06-08
8    2019-06-09
9    2019-06-10
10   2019-06-11
11   2019-06-12
12   2019-06-13
13   2019-06-14
14   2019-06-15
15   2019-06-16
16   2019-06-17
17   2019-06-18
18   2019-06-19
19   2019-06-20
Name: A, dtype: datetime64[ns]
x 0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
Name: x, dtype: float64
y 0     0.871896
1     0.340641
2     0.522109
3     0.797103
4     0.437933
5     0.835008
6     0.414260
7     0.331093
8     0.585630
9     0.085229
10    0.912040
11    0.559345
12    0.716879
13    0.483481
14    0.426419
15    0.175810
16    0.122557
17    0.857182
18    0.321194
19    0.682460
Name: y, dtype: float64
C 0       High
1        Low
2        Low
3       High
4        Low
5     Medium
6     Medium
7       High
8        Low
9        Low
10       Low
11    Medium
12    Medium
13      High
14      High
15       Low
16       Low
17      High
18    Medium
19       Low
Name: C, dtype: object
D 0     114.489385
1      89.997491
2     100.923261
3     113.041329
4      98.724221
5     116.324653
6     113.475146
7     108.118389
8     105.586755
9     104.614612
10    113.084619
11    116.588268
12     95.922079
13    101.785089
14    108.933869
15    101.301393
16    100.370226
17     96.691476
18    118.983930
19    107.882400
Name: D, dtype: float64

In [6]:
# iterrows
for row_index,row in DF.iterrows():
    print(row_index,row)

0 A    2019-06-01 00:00:00
x                      0
y               0.871896
C                   High
D                114.489
Name: 0, dtype: object
1 A    2019-06-02 00:00:00
x                      1
y               0.340641
C                    Low
D                89.9975
Name: 1, dtype: object
2 A    2019-06-03 00:00:00
x                      2
y               0.522109
C                    Low
D                100.923
Name: 2, dtype: object
3 A    2019-06-04 00:00:00
x                      3
y               0.797103
C                   High
D                113.041
Name: 3, dtype: object
4 A    2019-06-05 00:00:00
x                      4
y               0.437933
C                    Low
D                98.7242
Name: 4, dtype: object
5 A    2019-06-06 00:00:00
x                      5
y               0.835008
C                 Medium
D                116.325
Name: 5, dtype: object
6 A    2019-06-07 00:00:00
x                      6
y                0.41426
C                 Medium
D                113.475
Name: 6, dtype: object
7 A    2019-06-08 00:00:00
x                      7
y               0.331093
C                   High
D                108.118
Name: 7, dtype: object
8 A    2019-06-09 00:00:00
x                      8
y                0.58563
C                    Low
D                105.587
Name: 8, dtype: object
9 A    2019-06-10 00:00:00
x                      9
y              0.0852287
C                    Low
D                104.615
Name: 9, dtype: object
10 A    2019-06-11 00:00:00
x                     10
y                0.91204
C                    Low
D                113.085
Name: 10, dtype: object
11 A    2019-06-12 00:00:00
x                     11
y               0.559345
C                 Medium
D                116.588
Name: 11, dtype: object
12 A    2019-06-13 00:00:00
x                     12
y               0.716879
C                 Medium
D                95.9221
Name: 12, dtype: object
13 A    2019-06-14 00:00:00
x                     13
y               0.483481
C                   High
D                101.785
Name: 13, dtype: object
14 A    2019-06-15 00:00:00
x                     14
y               0.426419
C                   High
D                108.934
Name: 14, dtype: object
15 A    2019-06-16 00:00:00
x                     15
y                0.17581
C                    Low
D                101.301
Name: 15, dtype: object
16 A    2019-06-17 00:00:00
x                     16
y               0.122557
C                    Low
D                 100.37
Name: 16, dtype: object
17 A    2019-06-18 00:00:00
x                     17
y               0.857182
C                   High
D                96.6915
Name: 17, dtype: object
18 A    2019-06-19 00:00:00
x                     18
y               0.321194
C                 Medium
D                118.984
Name: 18, dtype: object
19 A    2019-06-20 00:00:00
x                     19
y                0.68246
C                    Low
D                107.882
Name: 19, dtype: object

In [7]:
# itertuples()
for row in DF.itertuples():
    print(row)

Pandas(Index=0, A=Timestamp('2019-06-01 00:00:00'), x=0.0, y=0.8718960094704123, C='High', D=114.48938517540556)
Pandas(Index=1, A=Timestamp('2019-06-02 00:00:00'), x=1.0, y=0.34064069435086886, C='Low', D=89.99749075230594)
Pandas(Index=2, A=Timestamp('2019-06-03 00:00:00'), x=2.0, y=0.5221091269979034, C='Low', D=100.92326146284964)
Pandas(Index=3, A=Timestamp('2019-06-04 00:00:00'), x=3.0, y=0.7971029779730233, C='High', D=113.04132922191643)
Pandas(Index=4, A=Timestamp('2019-06-05 00:00:00'), x=4.0, y=0.43793341661550966, C='Low', D=98.7242213640238)
Pandas(Index=5, A=Timestamp('2019-06-06 00:00:00'), x=5.0, y=0.8350082961003819, C='Medium', D=116.3246527710664)
Pandas(Index=6, A=Timestamp('2019-06-07 00:00:00'), x=6.0, y=0.4142604687986081, C='Medium', D=113.47514582362007)
Pandas(Index=7, A=Timestamp('2019-06-08 00:00:00'), x=7.0, y=0.3310934489851457, C='High', D=108.11838857913766)
Pandas(Index=8, A=Timestamp('2019-06-09 00:00:00'), x=8.0, y=0.5856295675860037, C='Low', D=105.58675493928897)
Pandas(Index=9, A=Timestamp('2019-06-10 00:00:00'), x=9.0, y=0.0852287173778924, C='Low', D=104.61461227381476)
Pandas(Index=10, A=Timestamp('2019-06-11 00:00:00'), x=10.0, y=0.9120402644375042, C='Low', D=113.08461944995638)
Pandas(Index=11, A=Timestamp('2019-06-12 00:00:00'), x=11.0, y=0.5593447018731483, C='Medium', D=116.58826838119462)
Pandas(Index=12, A=Timestamp('2019-06-13 00:00:00'), x=12.0, y=0.7168786776392809, C='Medium', D=95.92207903944406)
Pandas(Index=13, A=Timestamp('2019-06-14 00:00:00'), x=13.0, y=0.4834811356730149, C='High', D=101.78508949090781)
Pandas(Index=14, A=Timestamp('2019-06-15 00:00:00'), x=14.0, y=0.4264194778165299, C='High', D=108.93386863796003)
Pandas(Index=15, A=Timestamp('2019-06-16 00:00:00'), x=15.0, y=0.1758095147993568, C='Low', D=101.3013931841933)
Pandas(Index=16, A=Timestamp('2019-06-17 00:00:00'), x=16.0, y=0.12255717971860214, C='Low', D=100.37022633990446)
Pandas(Index=17, A=Timestamp('2019-06-18 00:00:00'), x=17.0, y=0.8571815363815264, C='High', D=96.69147646072847)
Pandas(Index=18, A=Timestamp('2019-06-19 00:00:00'), x=18.0, y=0.32119412642806333, C='Medium', D=118.9839297379736)
Pandas(Index=19, A=Timestamp('2019-06-20 00:00:00'), x=19.0, y=0.6824602706251507, C='Low', D=107.88240025341206)

In [10]:
for index,row in DF.iterrows():
    print(row['A'])

2019-06-01 00:00:00
2019-06-02 00:00:00
2019-06-03 00:00:00
2019-06-04 00:00:00
2019-06-05 00:00:00
2019-06-06 00:00:00
2019-06-07 00:00:00
2019-06-08 00:00:00
2019-06-09 00:00:00
2019-06-10 00:00:00
2019-06-11 00:00:00
2019-06-12 00:00:00
2019-06-13 00:00:00
2019-06-14 00:00:00
2019-06-15 00:00:00
2019-06-16 00:00:00
2019-06-17 00:00:00
2019-06-18 00:00:00
2019-06-19 00:00:00
2019-06-20 00:00:00

In [11]:
DF

            A     x         y       C           D
0  2019-06-01   0.0  0.871896    High  114.489385
1  2019-06-02   1.0  0.340641     Low   89.997491
2  2019-06-03   2.0  0.522109     Low  100.923261
3  2019-06-04   3.0  0.797103    High  113.041329
4  2019-06-05   4.0  0.437933     Low   98.724221
5  2019-06-06   5.0  0.835008  Medium  116.324653
6  2019-06-07   6.0  0.414260  Medium  113.475146
7  2019-06-08   7.0  0.331093    High  108.118389
8  2019-06-09   8.0  0.585630     Low  105.586755
9  2019-06-10   9.0  0.085229     Low  104.614612
10 2019-06-11  10.0  0.912040     Low  113.084619
11 2019-06-12  11.0  0.559345  Medium  116.588268
12 2019-06-13  12.0  0.716879  Medium   95.922079
13 2019-06-14  13.0  0.483481    High  101.785089
14 2019-06-15  14.0  0.426419    High  108.933869
15 2019-06-16  15.0  0.175810     Low  101.301393
16 2019-06-17  16.0  0.122557     Low  100.370226
17 2019-06-18  17.0  0.857182    High   96.691476
18 2019-06-19  18.0  0.321194  Medium  118.983930
19 2019-06-20  19.0  0.682460     Low  107.882400